@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Roboto;
    background-color: #313131;
}

a{
    text-decoration: none;
}

.psg {
    margin: 0 0 58px 0;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

input {
    padding: 23px 32px;
    background-color: #C4C4C4;
    border-radius: 7px;
}
input:not(:first-child){
    margin-top: 21px;
}
.button {
    padding: 15px 38px;
    background-color: white;
    color: #343434;
    font-family: Roboto;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    margin-top: 50px;
    
}

.button:not(:first-child){
    margin-left: 25px;
}
.down_button{
    height: 15px;
   
}

.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
    width: 350px;
}

.logout {
    color: #b7625c;
}

.login_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 94px 82px  ;
    border-radius: 24px;
    background-color: #525252;
    color: white;
}
h1{
    font-size: 40px;
}
